@import url('typography.css');
@import url('variables.css');

.site {
    background-image: linear-gradient(to right top, #c89fd1, #f996b9, #ff9988, #ffb051, #cad135);
    max-width: var(--layout-main-width);
    margin: 0 auto;
    padding: 2em;
    --color-text-main: #0000FF;
}

ul{
    list-style-type: none;
    display: flex;
    align-content: center;
}

ul> li{
    margin: 0 20px;
}

ul>li>a{
    font-size: 2.2 rem;
}

p{
    font-size: 1.8rem;
    color: var(--color-text-main, #000);
}

section{
    height: 550px;
}

