body{
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;

     --mq-size-lv1: 600px;
     --mq-size-lv2: 1024px;
     --mq-size-lv3: 1600px;

     --layout-main-width: 70em;
     --color-link-default: #A00;
     --color-body-default: #000;
     --color-body-bgrd: linear-gradient(to right top, #c89fd1, #f996b9, #ff9988, #ffb051, #cad135);
     --color-border-default: #999;
     --spacing-layout-elements: 6em;
} 
